body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.text-center {
    text-align: center;
}

.passcode {
    font-size: 20pt;
    height: 60px;
    vertical-align: middle;
    text-align: center;
}

.when {
    display: block;
    margin-top: 2px;
    font-size: 80%;
    color: #999;
}