@{
    ViewData["Title"] = "Enter Passcode";
}

@section Head {
}


@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary()

    <div class="text-center">
        <div class="form-group">
            <label class="sr-only" for="usernameInput">Username</label>
            <input type="password" class="form-control passcode" id="usernameInput" name="username" placeholder="Username">
        </div>

        <div class="form-group">
            <label class="sr-only" for="passwordInput">Password</label>
            <input type="password" class="form-control passcode" id="passwordInput" name="password" placeholder="Password">
        </div>

        <hr/>

        <button type="submit" class="btn btn-success btn-lg">Authenticate</button>
    </div>

}

